* {
    transition: 0.1s;
    scroll-behavior:smooth;
}
body {
    background-color: black;
    font-family: var(--encore-body-font-stack, var(--fallback-fonts, sans-serif)), sans-serif;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

header {
    width: 100%;
    height: 4vw;
    margin: 0;
    display: flex;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

a {
    text-decoration: none;
}

.spotify-logo {
    margin-top: 5px;
    margin-left: 1%;
    width: 40px;
    height: 40px;
}

.home-logo {
    width: 48px;
    height: 48px;
    background-color: #1e1f1e;
    border-radius: 100%;
    margin-left: 26.5%;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 1.3rem;
}

.home-logo:hover {
    width: 49px;
    height: 49px;
    cursor: pointer;
}

.home-logo:active {
    color: rgb(212, 212, 212);
    background-color: #1a1b1a;
}

.search-bar {
    color: #7f7e7f;
    margin-left: 1vw;
    height: 48px;
    background-color: #1e1f1e;
    border-radius: 25px;
    display: inline-flex;
    width: 34vw; ;
    font-weight: bold;
}

#magnifying-glass {
    font-size: 1.3rem;
    text-align: center;
    margin: 12px;
}

#magnifying-glass:hover {
    color: white;
    cursor: pointer;
}

#magnifying-glass:active {
    color: #7f7e7f;
    cursor: pointer;
}

#search-input {
    background-color: transparent;
    border: 0;
    height: 100%;
    width: 90%;
    font-size: 1.1rem;
    color: white;
    outline: none;
}

.search-bar:focus-within{
    border: 2px solid white !important;
    color: white;
}

.search-bar:hover {
    background-color: #2a2a2a;
    border: 1px solid gray
    
}

#explore-button {
    font-size: 1.5rem;
    text-align: center;
    margin: 15px;
    margin-top: 12px;
    width: 10%;
    color: #7f7e7f !important;
}

#explore-button:hover {
    color: white !important;
    cursor: pointer;
}

#explore-button:active {
    color: #7f7e7f !important;
    cursor: pointer;
}

.download-app-button, .registration-button, .login-button {
    margin: 15px;
    font-weight: bold;
}

.login-button a {
    font-size: 0.9rem;
    font-weight: bold;
}

.right-buttons:visited, .right-buttons:link {
    font-size: 0.9rem;
    color: #7f7e7f;
}

.right-buttons:hover {
    font-size: 1rem;
    color: white;
}

.right-buttons:active {
    color: #7f7e7f;
}

.login-button {
    background-color: white;
    border-radius: 30px;
    width: 12%;
    margin: 0;
    height: 48px;
    text-align: center;
    line-height: 50px;
}

.login-button a:visited, .login-button a:link {
    font-size: 0.95rem;
    color: black;
}

.login-button:hover{
    background-color: gainsboro;
    width: 13%;
    height: 49px;
    font-size: 1rem;
    color: black;
    cursor: pointer;
}

.login-button:active {
    background-color: gray;
}

.no-seleccionable { /*Para hacer que el usuario no pueda selecionar texto*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.left-section {
    margin-top: 0;
    background-color: #121212;
    width: 31%;
    border-radius: 10px;
    color: #7f7e7f;
    padding-top: 0.5%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    font-size: 0.9rem;
    font-weight: 100;
    height: 30.5rem;
}

.scroll-section {
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    width: 100%;
    height: 15em;
    border-radius: 10px;
}
.scroll-section::-webkit-scrollbar {
    display: none;
}

.scroll-section:hover::-webkit-scrollbar{
    height: 10px;
    width: 10px;
    background-color: transparent;
    display: block;
}

.scroll-section:hover::-webkit-scrollbar-thumb{
    height: 10px;
    width: 10px;
    background-color: rgba(91,91,90,255);
    display: block;
}

.gray-button:hover {
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}

.gray-button:active {
    cursor: pointer;
    color: #7f7e7f;
}

.left-section h3 {
    padding-left: 5%;
}

#library-icon {
    font-size: 1.5rem;
}

#more-button {
    margin-left: 55%;
    margin-top: 4.6%;
    font-size: 1.5rem;
}

.list-section, .explore-podcast{
    padding: 1%;
    font-size: 0.8rem;
    width: 96%;
    margin-top: 10px !important;
    margin: auto;
    height: 10em;
    border-radius: 10px;
    background-color: #1e1f1e;
    color: white;
    font-weight: bold;
    margin-bottom: 6%;
}

.list-section p, .explore-podcast p {
    padding-left: 5%;
    font-weight: initial;
}

.button {
    margin-top: 5%;
    background-color: white;
    border-radius: 15px;
    line-height: 30px;
    text-align: center;
    color: black;
    font-weight: bold;
    margin-left: 5%;
    height: 23%;
    width: 21%;
    margin-bottom: 5%;
}

.podcast-button {
    width: 32%
}

.button:hover {
    cursor: pointer;
    width: 22%;
    background-color: gainsboro;
    font-size: 0.9rem;
}

.podcast-button:hover, .podcast-button:active {
    width: 33% !important;
}

.button:active {
    cursor: pointer;
    width: 22%;
    background-color: gray;
    font-size: 0.9rem;
}


.info-left {
    width: 75%;
    display: grid;
    grid-template-columns: calc(20%) calc(60%) calc(50%);
    grid-gap: 0.5px;
    font-size: 12px;
    margin-top: 0;
    padding-top: 0;
    text-decoration: none;
    color: #7f7e7f;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 5%;
    height: 18%;
}

.info-left a:visited {
    color: #7f7e7f;
}

.info-left a:link {
    color: #7f7e7f;
}

.info-left a:last-of-type {
    color: white;
}

.info-left a:last-of-type:hover {
    text-decoration: underline;
}

.languague-button {
    margin-top: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 50px;
    margin-left: 5%;
    border: 1px solid #7f7e7f;
    border-radius: 20px;
    line-height: 20px;
    height: 5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    line-height: 25px;
    font-size: 0.8rem;
}

.languague-button:hover {
    height: 6%;
    font-size: 0.9rem;
    cursor: pointer;
    border: 1px solid white;
}

.languague-button:active {
    color: #7f7e7f;
    height: 6%;
    font-size: 0.9rem;
    cursor: pointer;
    border: 1px solid #7f7e7f;
}

.main-section {
    width: 66%;
    height: 30.9rem;
    background: linear-gradient(#222323 0%, #121212 50%);
    border-radius: 10px;
    margin-left: 0.6%;
    padding: 0.1% 0.8%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
}

.main-section::-webkit-scrollbar {
    display: none;
}

.main-section:hover::-webkit-scrollbar{
    height: 10px;
    width: 10px;
    background-color: transparent;
    display: block;
}

.main-section:hover::-webkit-scrollbar-thumb{
    height: 10px;
    width: 10px;
    background-color: rgba(91,91,90,255);
    display: block;
}

section h2 {
    color: white;
    padding-left: 0.8%;
    margin-top: 1px;
    margin-bottom: 5px;
    z-index: 0;
    width: 10px;
}

.show-more {
    margin-left: -100px;
    color: #b3b3b3;
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 50%;
    z-index: 0;
}

section h2:hover, .show-more:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 0px;
    width: auto;
    margin-bottom: 5%;
}

.card {
    display: block;
    background-color: transparent;
    color: white;
    width: 180px;
    height: 250px;
    border-radius: 10px;
    text-wrap: wrap;
    z-index: 1;
}


.card:hover {
    background-color: #1e1f1e;
    cursor: pointer;
}

.card:active {
    background-color: black;
}

.card img {
    border-radius: 15px;
    object-fit: cover;
    width: 160px;
    height: 160px;
    padding: 10px;
    margin-bottom: 0px;
}

.artist img{
    border-radius: 100%;
}

.card h4 {
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.card p {
    margin-top: 0;
    margin-left: 10px;
    color: #b3b3b3;
}